// add all CSS here!

main {
  font-family: Inter;
	font-size: 16px;
	
}
#body{
	margin-left: 130px;
	margin-top: 70px;
	margin-right: 130px;
}
#title{
	background-color: rgb(66,145,152);
	font-size: 28px;
	font-weight: bold;
	color: white;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#titleText{
	margin-left:130px;
}
#alwaysShown{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
#colContent{
	display: flex;
	flex-direction: column;
	width: 650px;
/* 	margin-right:65px; */
}

#imageContents{
	display: flex;
	flex-direction: column;
	width: 393px;
	font: "Inter";
	font-size:12px;
}
#imageCaptions{
	width: 100%;
	height: 100%;
}
/* img{
	width: 100%;
	height: 100%;
} */
input#greenButton {
  background-color: rgb(66,145,152);
	width: 152px;
	height: 42px;
	border-radius : 7px;
	color: white;
	margin-top:20px;
}
#lowerPart{
	margin-top: 110px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
div#lowerTextSection{
	display: flex;
	flex-direction column;
	justify-content: start;
	align-items: start;
	flex-wrap : wrap;
/* 	margin-left: 210px; */
	width:530px; 
}
#lowerText{
	margin-top:50px;
}
div#chart-container {
  position: relative;
  margin: auto;
  height: 400px;
  width: 500px;
	barWidth: 100
}

#changeMonth{
	font-size 16px;
	font: Inter;
	color: rgb(66,145,152);
	font-weight: 600;
}
#monthSelectButton{
		width: 250px;
		height: 40px;
		background-color : white;
		border: 1px solid gray;
		color: gray;
		text-indent: 20px; 
		margin-top : 10px;
}
#monthData{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
@media (max-width: 1310px) {
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#entire{
		margin-left: 100px;
		margin-right: 100px;
	}
  #alwaysShown{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 70px;
	}
	#colContent{
		width:100%;
	}
	#imageContents{
		width:100%;
	}
	#lowerPart{
		display: flex;
		flex-direction: column-reverse ;
		margin-top : 70px;
	}
}