// add all CSS here!

main {
  font: Inter;
	font-size: 16px;
}
#title{
	background-color: rgb(66,145,152);
	font-size: 28px;
	font-weight: bold;
	color: white;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#imageContents{
	display: flex;
	flex-direction: column;
	width: 393px;
	height: 253px;
	font: "Inter";
	font-size:12px;
}
#alwaysShown{
	display:flex;
	flex-direction: row;
}
#colContent{
	display: flex;
	flex-direction: column;
}
input#greenButton {
  background-color: rgb(66,145,152);
	width: 152px;
	height: 42px;
	border-radius : 7px;
	color: white;
}
#lowerPart{
	margin-top: 110px;
	display: flex;
	flex-direction: row;
}
#lowerText{
	margin-top:50px;
}
div#chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
#changeMonth{
	font-size 16px;
	font: Inter;
	color: rgb(66,145,152);
	font-weight: 600;

}